html,
body {
    background-color: #333;
    overflow: hidden;
    margin: 0;
}

.board {
    background: #333;
    margin:  auto;
    margin-top:30px;
}

.row {
    background: #333;
    position: relative;
}

.tile{
    color: white;
    text-align: center;
    background: #000;
    display:inline-block;
    box-shadow: inset 0 0 6px 0 rgba(120, 120, 120, .5);
    position:relative;
    border-radius: 50%;
}

.entry {
    animation-duration: 1s;
    opacity: 1;
    animation-iteration-count: 1;
    animation-name: grow;
    animation-timing-function: ease;
}

@keyframes grow {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
