html,
body {
    overflow: hidden;
    margin: 0;
}

.board {
    margin:  auto;
    margin-top:30px;
}

.row {
    position: relative;
}

.tile{
    color: white;
    text-align: center;
    background-color: #666;
    display:inline-block;
    position:relative;
    border-radius: 50%;
}

@-webkit-keyframes grow {
    0% {
        -webkit-transform: scale(0);
                transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

@keyframes grow {
    0% {
        -webkit-transform: scale(0);
                transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

@-webkit-keyframes breath {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes breath {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes mark {
    0% {
        background-color: #666;
    }
    100% {
        background-color: #26A65B;
    }
}

@keyframes mark {
    0% {
        background-color: #666;
    }
    100% {
        background-color: #26A65B;
    }
}